.footer{

background:#080808;

color:white;

padding:60px 50px 20px;

}



.footer-content{

max-width:1200px;

margin:auto;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

}



.footer h2{

font-size:35px;

font-family:Georgia,serif;

color:#d4af37;

}



.footer h3{

color:#d4af37;

margin-bottom:20px;

}



.footer p,
.footer a{

color:#ccc;

text-decoration:none;

display:block;

margin:10px 0;

}



.footer a:hover{

color:#d4af37;

}



.copyright{

text-align:center;

border-top:1px solid #333;

margin-top:40px;

padding-top:20px;

color:#999;

}



@media(max-width:768px){

.footer-content{

grid-template-columns:1fr;

text-align:center;

}

}