.navbar {

  width:100%;

  padding:20px 60px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  background:white;

  position:sticky;

  top:0;

  z-index:1000;

  box-shadow:
  0 5px 20px rgba(0,0,0,.08);

}



.logo {

  font-size:32px;

  font-family:Georgia,serif;

  font-weight:bold;

  color:#111827;

  letter-spacing:1px;

}



.logo span {

  display:block;

  font-size:14px;

  letter-spacing:4px;

  color:#777;

  text-align:center;

}



.nav-links {

  display:flex;

  gap:35px;

  list-style:none;

}



.nav-links a {

  text-decoration:none;

  color:#333;

  font-size:16px;

  font-weight:500;

  transition:.3s;

}



.nav-links a:hover {

  color:#111827;

}



@media(max-width:768px){

.navbar{

padding:15px 25px;

}


.nav-links{

gap:15px;

}


.logo{

font-size:25px;

}

}
/* ===========================
   Mobile Menu
=========================== */

.menu-icon{

display:none;

font-size:30px;

cursor:pointer;

}

.nav-right{

display:flex;

align-items:center;

gap:15px;

}

.nav-right input{

padding:10px 15px;

border:1px solid #ddd;

border-radius:30px;

outline:none;

}

.cart-icon{

font-size:18px;

font-weight:bold;

}

@media(max-width:768px){

.navbar{

flex-direction:row;

justify-content:space-between;

padding:15px 20px;

position:relative;

}

.menu-icon{

display:block;

}

.nav-links{

display:none;

position:absolute;

top:80px;

left:0;

width:100%;

background:white;

padding:20px 0;

box-shadow:0 10px 20px rgba(0,0,0,.1);

flex-direction:column;

align-items:center;

gap:20px;

}

.nav-links.active{

display:flex;

}

.nav-right{

display:none;

}

}